
  <h3> Title: <%= @job.title %></h3>
  <p> Description: <%= @job.description %></p>
  <h5><%= link_to "Edit Posting", edit_job_path(@job)%></h5>
  <h5><%= link_to "Delete Posting", @job, method: :delete %></h5>

